body{
  /*background: linear-gradient(150deg,#E9D5CA,#243A73);*/
  height: 100vh;
  margin:auto;
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
  background-image: linear-gradient(120deg,#FFB4B4,#513252);
}
.reg-1{
  height:720px;
  width:450px;
  background-color: #FAEA48;
  position: absolute;
  right:35%;
  top:10px;
  border: 5px solid #EB1D36;
}
/*img{
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 60px;
  left:150px;
}*/
.heading{
 text-align: center;
 width: 455px;
 height:60px;
 background-color: #EB1D36;
 color: white;
 position: relative;
 bottom: 3%;
 left: -1%;
 }
 h1{
   position: relative;
   top:12%;
 }
 .form{
   color:#950101;
 }
 #fname{
   width: 200px;
   height:28px;
   position: relative;
   left:2%;
   top:4px;
 }
 #lname{
   width: 200px;
   height:28px;
   position: relative;
   left:17em;
   bottom: 2.3em;
 }
 #gender{
   /*width: 510px;
   height:34px;*/
   position: relative;
   left:2%;
   bottom:16px;

 }
 #email{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom:4.5em;
 }
 #password{
   width: 420px;
   height:30px;
   position: relative;
   left: 2%;
   bottom:37px;
 }

 #dept{
   width: 430px;
   height:30px;
   position: relative;
   left: 2%;
   bottom:48px;
 }
 #qual{
   width: 430px;
   height:30px;
   position: relative;
   left:2%;
   bottom:30px;
 }
 #res{
   width:200px;
   height:30px;
   position: relative;
   left:5%;
   bottom:16px;
}
 #exp{
   width: 200px;
   height:30px;
   position: relative;
   left:2%;
   top:2px;
 }
 #dob{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom: 2.5em;
 }
 #doj{
   width: 200px;
   height:30px;
   position: relative;
   left:2%;
  bottom: 1.5em;
 }
 #Phno{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom: 55px;
 }
 #address{
   position: relative;
   left: 2%;
   bottom: 2em;
 }
#submit{
  position: absolute;
  bottom: 1% ;
  right: 50%;
  height: 35px;
  width:80px;
  border-radius: 5px;
  background-color: #EB1D36;
  color: #FFFFFF;
  font-size: 15px;
  font-weight:normal;
}
#clear{
  position: absolute;
  bottom: 1% ;
  right: 30%;
  height: 35px;
  width:80px;
  border-radius: 5px;
  background-color: #EB1D36;
  color:white;
  font-size: 15px;
  font-weight:normal;
}
 #clear:hover{
   background-color:black;
   font-weight:bold;
 }
 #submit:hover{
   background-color:black;
   font-weight:bold;
 }
 button:active {
   transform: translateY(2px);
 }
