body{
   /* background: linear-gradient(250deg,#E9D5CA,#243A73);*/
    height: 200vh;
    margin: 0;
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
}
th, td {
    background-color: #96D4D4;
}