/* WORK  */
.main-sec{
  width:50%;
  height:500px;
  background-color: #781D42;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position:absolute;
  top:10em;
  left:47%;
}
.main-element{
  color:white;
  position: absolute;
  top:3rem;
}
.year{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
.sem{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.sub{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.period{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.day{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.day-or{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.dept{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.st{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.et{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.date{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn{
  width: 200px;
  height:35px;
  border-radius:5px;
  background-color: black;
  color:#F7F7F7 ;
  position:relative;
  left:15em;
  top:21em;
  font-weight: bold;
}
#btn:hover{
  background-color: #EAE3D2;
  color:black;
}
#btn:active{
    transform: translateY(2px);
}
