body{
  margin:0;
  background-color: #FCF9C6;
  overflow:hidden;
  height: 100%;
}
.title{
  background-color:#1B2430;
  height:60px;
  width: 1536px;
  color:white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #100720;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-weight: bolder;
  font-size:18px;
}

li a:hover {
  background-color:white;
  color:#041C32;
}
.active{
  background-color:white;
  color:#041C32;
}
img{
  height:50px;
  width:50px;
  border-radius: 100%;
  position:relative;
  top:7%;
  left:3px;
}
h4{
  padding-left: 4%;
  position:absolute;
  top: -2%;
  font-size: 1.5rem;
  font-weight:300;
}
#first{
  padding: 10px;
  font-size: 18px;
  font-weight:light;
  padding-left: 40px;
  }

.project{
  position: relative;
  left: 130%;
  top:2%;
  height: 6%;
  width:150%;
  font-size: 15px;
  color: #4B5D67;
  text-align:center;
}
/* WORK  */
.main-sec{
  width:55%;
  height:450px;
  background-color: #D8CCA3;
  border-radius: 15px;
  position:absolute;
  top:14em;
  left:25%;
}
.main-sec:hover{
  background-color:#E4DCCF ;
}
.main-element{
  color: #1B2430;
}
.year{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
.sem{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.sub{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.period{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.day{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.day-or{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.dept{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.st{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.et{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.date{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn{
  width: 200px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:15em;
  top:21em;
  font-weight: bold;
}
#btn:hover{
  background-color: #3D3C42;
}
#btn:active{
    transform: translateY(2px);
}
/* Attendance */
.year-att{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:3em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
.sem-att{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:8em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn-att{
  width: 150px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:28em;
  font-weight: bold;
}
.dept-att{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:13.5em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch-att{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas-att{
width: 300px;
height:35px;
position:absolute;
left:6em;
top:25em;
text-align: center;
font-weight: bold;
color: #1B2430;
border-radius:5px;

}
#btn-att:hover{
  background-color: #3D3C42;
}
#btn-att:active{
    transform: translateY(2px);
}
.main-sec-att{
  width:30%;
  height:450px;
  background-color: #D8CCA3;
  border-radius: 15px;
  position:absolute;
  top:14em;
  left:35%;
}
.main-sec-att:hover{
  background-color:#E4DCCF ;
}
.main-element-att{
  color: #1B2430;
  position: relative;
  right:1em;
}
/* Marklist */
.main-sec-mark{
  width:30%;
  height:510px;
  background-color: #D8CCA3;
  border-radius: 15px;
  position:absolute;
  top:12em;
  left:35%;
}
#btn-mark{
  width: 150px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:32.9em;
  font-weight: bold;
}
#btn-mark:hover{
  background-color: #3D3C42;
}
#btn-mark:active{
    transform: translateY(2px);
}
.int-mark{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.main-element-mark{
  color: #1B2430;
  position: relative;
  top: 1px;
  right:1em;
}
.batch-mark{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:30em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
