/* -------------------------------------------------Attendance--------------------------------------------------- */
.year-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:3em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
.sem-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:8em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn-att{
  width: 120px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:28em;
  font-weight: bold;
}
.dept-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:13.5em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch-att{
  width:250px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas-att{
width: 250px;
height:35px;
position:absolute;
left:6em;
top:25em;
text-align: center;
font-weight: bold;
color: #1B2430;
border-radius:5px;

}
#btn-att:hover{
  background-color: #3D3C42;
}
#btn-att:active{
    transform: translateY(2px);
}
.main-sec-att{
  width:25%;
  height:450px;
  border-radius: 15px;
  position:absolute;
  top:14em;
  left:30%;
}
.main-element-att{
  color: black;
  position: relative;
  right:1em;
}
/* Marklist */
.main-sec-mark{
  width:30%;
  height:510px;
  border-radius: 15px;
  position:absolute;
  top:12em;
  left:35%;
}
#btn-mark{
  width: 150px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:32.9em;
  font-weight: bold;
}
#btn-mark:hover{
  background-color: #3D3C42;
}
#btn-mark:active{
    transform: translateY(2px);
}
.int-mark{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.main-element-mark{
  color: #1B2430;
  position: relative;
  top: 1px;
  right:1em;
}
.batch-mark{
  width: 300px;
  height:35px;
  position:absolute;
  left:6em;
  top:30em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
