body{
  /*background: linear-gradient(150deg,#E9D5CA,#243A73);*/
  background-image: url("regback.png");
  height: 100vh;
  margin:auto;
  background-repeat: no-repeat;
  background-size:cover;
  overflow: hidden;
}

.reg-1{
  height:720px;
  width:450px;
  background-color: white;
  position: absolute;
  right:0%;
  top :0;
  bottom:0;
  left:45em;
  margin: auto;
  border: 5px solid #251D3A;
}
/*img{
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 60px;
  left:150px;
}*/
.heading{
 text-align: center;
 width: 455px;
 height:60px;
 background-color: #251D3A;
 color: white;
 position: relative;
 bottom: 3%;
 left: -1%;
 }
 h1{
   position: relative;
   top:12%;
 }
 .form{
   color:#251D3A;
 }
 #fname{
   width: 200px;
   height:28px;
   position: relative;
   left:2%;
   top:4px;
 }
 #lname{
   width: 200px;
   height:28px;
   position: relative;
   left:17em;
   bottom: 2.3em;
 }
 #gender{
   /*width: 510px;
   height:34px;*/
   position: relative;
   left:2%;
   bottom:16px;

 }
 #email{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom:4.5em;
 }
 #password{
   width: 200px;
   height:30px;
   position: relative;
   left: 2%;
   bottom:53px;
 }
 #doj{
   width: 200px;
   height:30px;
   position: relative;
   left: 50%;
   bottom:88px;
 }

 #dept{
   width: 430px;
   height:30px;
   position: relative;
   left: 2%;
   bottom:48px;
 }
 #qual{
   width: 430px;
   height:30px;
   position: relative;
   left:2%;
   bottom:30px;
 }
 #res{
    width:200px;
   height:30px;
   position: relative;
   left:5%;
   bottom:65px; 
  
}
 #exp{
   width: 200px;
   height:30px;
   position: relative;
   left:2%;
   top:-12px;
 }
 #ie{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom:3.5em;
 }
 #dob{
   width: 200px;
   height:30px;
   position: relative;
   left:2%;
  bottom: 2.2em;
 }
 #Phno{
   width: 200px;
   height:30px;
   position: relative;
   left:17em;
   bottom: 65px;
 }
 #address{
   position: relative;
   left: 2%;
   bottom: 5.5em;
 }
#submit{
  position: absolute;
  bottom: 1% ;
  right: 50%;
  height: 35px;
  width:80px;
  border-radius: 5px;
  background-color: #251D3A;
  color: #FFFFFF;
  font-size: 15px;
  font-weight:normal;
}
#clear{
  position: absolute;
  bottom: 1% ;
  right: 30%;
  height: 35px;
  width:80px;
  border-radius: 5px;
  background-color: #251D3A;
  color: #FFFFFF;
  font-size: 15px;
  font-weight:normal;
}
 button:hover{
   background-color:white;
   color:black;
   font-weight:bold;
 }
 button:active {
   transform: translateY(2px);
 }
.tittle{
  color: white;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 3rem;
  line-height: 40px;
  animation: 2s anim-lineUp ease-out;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
h6{
  padding-left: 45%;
  padding-top: 13%;
  font-size: 12px;
  color: #CDC2AE;
}
