body{
  background-image: url("loginback.jpg");
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.login-first{
  height: 460px;
  width :350px;
  background-color: #E4D1B9;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:64em;
  margin: auto;
  border: 5px solid #180A0A ;
}

h1{
  text-align: center;
  text-decoration: none;
  color: #00092C;
  font-size:30px;
  font-family: 'Poppins', sans-serif;
  position: relative;
  bottom: 40px;
  }
  .message-1{
    visibility:visible;
    position:relative;
    top:1.5rem;
    right:4rem;
    color: red;
  }
  .message-2{
    visibility:visible;
    position:relative;
    top:0.4rem;
    left:2%;
    color: red;
  }
  .showpass{
   position:relative;
   top:0.5rem;
   left:1%;
  }
img{
  height: 80px;
  width:80px;
  position: relative;
  top: 5px;
  left: 130px;
}
.form{
  position: relative;
  top:5%;
  color: #00092C;
}
.uname{
  width: 330px;
  height: 30px;
  position: relative;
  left:5px;
  bottom: 35px;
  font-size: 15px;
  color:#00092C;
}
.pass{
  width: 330px;
  height: 30px;
  position: relative;
  left:5px;
  top:2px;
  font-size: 15px;
  color:#00092C;
}
#username{
  position:relative;
  bottom: 47px;
  left:7px;
  font-weight: bold;
  color: #00092C;

}
#password{
  position:relative;
  bottom:7px;
  left:7px;
  font-weight: bold;
  color: #00092C;
}

button{
  position: absolute;
  bottom: -3% ;
  right: 40%;
  height: 30px;
  width:80px;
  background-color: #1C0A00;
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bolder;
}
button:hover{
  background-color:#FFF7BC;
  color: black;
}
button:active {
  transform: translateY(2px);
}
p{
  position: relative;
  top:80px;
  left:100px;
}
a{
  position: relative;
  top:44px;
  left:202px;
}
h6{
  position:absolute;
  left:55em;
  top:60em;
  bottom:0;
  right:0;
  margin: auto;
  font-size: 12px;
  color: #CDC2AE;
}

.text{
  float: right;
  position: absolute;
  bottom: 30%;
  left:40%;
  font-size:2rem;
  color: white;
  line-height: 40px;
}
h5{
  position: absolute;
  bottom: 15%;
  left: 7%;
}
h4{
  position:relative;
  left:3.5em;
}
h2{
  position:relative;
  left:2.4em;
  background-size:cover;
}
