body{
	background-color:#FCFFE7;
	height:100vh;
	overflow: hidden;
}
.main{
	height:350px;
	width:300px;
	background-color:white;
	position:relative;
	left:37%;
	top:20%;
	border-style: solid;
  border-color: #9EB23B;
	border-width:medium;
}
.first{
	width:300px;
	height:175px;
}
.second{
	background-color: #9EB23B;
	width:302px;
	height:175px;
	position: relative;
	right:1px;
	bottom: 5%;
}
.animated{
	height:80px;
	width:80px;
	position: relative;
	left:6.5em;
	top:2em;
  animation-duration: 2s;
}

 @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }

.fadeIn {
            animation-name: fadeIn;
         }
h4{
font-family: 'Cairo', sans-serif;
position:relative;
left:4.2em;
font-size: 25px;
color:  #9EB23B;
animation-duration: 2s;
}
h3{
	padding: 5px;
	font-weight: 400;
	font-family: 'Cinzel', serif;
	position: relative;
	left: 6%;
	top:24%;
	font-size: 20px;
	color: white;
	animation-duration: 2s;
}
