body{
  margin:0;
  overflow:hidden;
  height: 100%;
}
.title{
  background-color:#F7ECDE;
  height:60px;
  width: 100%;
  color:black;
  position: absolute;
  top: -1em;
  border-top-left-radius:15px;
  border-top-right-radius:15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #100720;
  height:5em;
}
li {
float:left;
position:relative;
left:57%;
top:15%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-weight: bolder;
  font-size:18px;
}

li a:hover {
  background-color:white;
  color:#041C32;
  border-radius: 10px;
  height: 10px;

}
input,select{
border:none;
}
.active{
  background-color:white;
  color:#041C32;
  border-radius: 10px;
  height: 10px;
}
img{
  height:50px;
  width:50px;
  border-radius: 100%;
  position:relative;
  top:1em;
  right:38em;
 
}
h4{
  padding-left: 4%;
  position:absolute;
  top: -1%;
  left:2%;
  font-size: 1.5rem;
  font-weight:300;
  color: white;
}
#first{
  padding: 10px;
  font-size: 18px;
  font-weight:light;
  padding-left: 40px;
  }

.project{
  position: relative;
  left: 130%;
  top:2%;
  height: 6%;
  width:150%;
  font-size: 15px;
  color: #4B5D67;
  text-align:center;
}
/* WORK  */
.main-sec{
  width:50%;
  height:500px;
  background-color: #781D42;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  position:absolute;
  top:10em;
  left:47%;
}
.main-element{
  color:white;
  position: absolute;
  top:3rem;
}
#year{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
#sem{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#sub{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.period{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.topic{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:11em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.day-or{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:18em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#dept{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:4em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.st{
  width: 200px;
  height:35px;
  position:absolute;
  left:4em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.et{
  width: 200px;
  height:35px;
  position:absolute;
  left:22em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.date{
  width: 200px;
  height:35px;
  position:absolute;
  left:40em;
  top:24em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn{
  width: 200px;
  height:35px;
  border-radius:5px;
  background-color: black;
  color:#F7F7F7 ;
  position:relative;
  left:15em;
  top:21em;
  font-weight: bold;
}
#btn:hover{
  background-color: #EAE3D2;
  color:black;
}
#btn:active{
    transform: translateY(2px);
}
/* -------------------------------------------------Attendance--------------------------------------------------- */
#att{
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  border-radius: 0px;
}
.year-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:3em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
  }
.sem-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:8em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
#btn-att{
  width: 120px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:30em;
  font-weight: bold;
}
.dept-att{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:13.5em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.batch-att{
  width:250px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.clas-att{
width: 250px;
height:35px;
position:absolute;
left:6em;
top:25em;
text-align: center;
font-weight: bold;
color: #1B2430;
border-radius:5px;

}
#btn-att:hover{
  background-color: #3D3C42;
}
#btn-att:active{
    transform: translateY(2px);
}
.main-sec-att{
  width:25%;
  height:450px;
  border-radius: 15px;
  position:absolute;
  top:6em;
  left:0;
  bottom:0;
  right:12em;
  margin: auto;
  transform:rotate(.2deg) ;
}
.main-element-att{
  color: black;
  position: relative;
  right:1em;
}
/* Marklist */
.main-sec-mark{
  width:20%;
  height:510px;
  background-color: #42855B;
  border-radius: 15px;
  position:absolute;
  top:12em;
  left:15%;
}
#btn-mark{
  width: 123px;
  height:35px;
  border-radius:5px;
  background-color:#411530;
  color:#F5E8E4 ;
  position:relative;
  left:6em;
  top:32.9em;
  font-weight: bold;
}
#btn-mark:hover{
  background-color: #3D3C42;
}
#btn-mark:active{
    transform: translateY(2px);
}
.int-mark{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:19em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
.main-element-mark{
  color: #1B2430;
  position: relative;
  top: 1px;
  right:2.8em;
}
.batch-mark{
  width: 250px;
  height:35px;
  position:absolute;
  left:6em;
  top:30em;
  text-align: center;
  font-weight: bold;
  color: #1B2430;
  border-radius:5px;
}
